<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="DBSource" connectionString="Data Source=10.168.1.6\v2016;Initial Catalog=ZCPK2_UUMS;uid=sa;pwd=fuqing68+++;" providerName="System.Data.SqlClient" />
    <add name="DBTarget" connectionString="Data Source=10.168.1.6\v2016;Initial Catalog=ZCPK2_B_Business;uid=sa;pwd=fuqing68+++;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>